<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/style.min.css">
    <link rel="icon" type="image/png" href="../static/logo.png" sizes="16x16">
    <title>Books: Page {{page_id}}</title>
  </head>
  <body>
    <nav aria-label="Page navigation example">
      <ul class="pagination mx-auto" style="width: 200px">
        {%if page_id-1 in number_of_pages%}
          <li class="page-item"><a class="page-link" href="./index{{page_id-1}}.html">Предыдущая</a></li>
        {%endif%}
        {%if page_id != 1%}
          <li class="page-item"><a class="page-link" href="./index1.html">1</a></li>
        {%endif%}
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="./index{{page_id}}.html">{{page_id}} <span class="sr-only">(current)</span></a>
        </li>
        {%if page_id+1 in number_of_pages%}
          <li class="page-item"><a class="page-link" href="./index{{page_id+1}}.html">{{page_id+1}}</a></li>
          {%if page_id+2 in number_of_pages%}
            <li class="page-item"><a class="page-link" href="./index{{page_id+2}}.html">{{page_id+2}}</a></li>
          {%endif%}
          <li class="page-item"><a class="page-link" href="./index{{page_id+1}}.html">Следующая</a></li>
        {%endif%}
      </ul>
    </nav>
    {%for book_left_column, book_right_column in books_descriptions%}
      <div class='container'>
        <div class="row">
          <div class="col-md">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src= '../media/images/{{book_left_column['image_name']}}' class="card-img" alt="Обложка книги" >
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{book_left_column['title']}}</h5>
                    <p class="card-text">{{book_left_column['author']}}</p>
                    {%for book_genre in book_left_column['genre']%}
                      <h6><span class="badge badge-secondary">{{book_genre}}</span></h6>
                    {%endfor%}
                    <p><a href="../media/books_txts/{{book_left_column['title']|urlencode}}.txt" target="_blank">Читать</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                {%if book_right_column%}
                  <div class="col-md-4">
                    <img src= '../media/images/{{book_right_column['image_name'] |urlencode}}' class="card-img" alt="Обложка книги">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{book_right_column['title']}}</h5>
                      <p class="card-text">{{book_right_column['author']}}</p>
                      {%for book_genre in book_right_column['genre']%}
                        <h6><span class="badge badge-secondary">{{book_genre}}</span></h6>
                      {%endfor%}
                      <p><a href="../media/books_txts/{{book_right_column['title']|urlencode}}.txt" target="_blank">Читать</a></p>
                    </div>
                  </div>
                {%endif%}
              </div>
            </div>
          </div>
        </div>
      </div>
    {%endfor%}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/scripts.js"></script>
  </body>
</html>